* {
	box-sizing: border-box;
}

body {
	width: 600px;
	margin: 5px;
	font-size: 9pt;
}

div {
	padding: 2px;
}

code {
	font-weight: bold;
	background-color: lightcyan;
}

textarea {
	min-height: 3em;
	resize: vertical;
}

button {
	float: right;
	margin-left: 10px;
}

#URL {
	width: 100%;
}

#Delay {
	width: 80px;
}

#ForceDL {
	margin-left: 20px;
	vertical-align: middle;
}

#Message {
	border-left: solid 2px orange;
	margin-top: 5px;
	padding-left: 5px;
	word-wrap: break-word;
}