body {
	margin: 5px;
	font-size: 9pt;
}

code {
	font-weight: bold;
	background-color: azure;
}

textarea {
	min-height: 3em;
	resize: vertical;
}

button {
	float: right;
	user-select: none;
}

#URL {
	width: 600px;
}

#Delay {
	width: 80px;
}